.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .formInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formInfo input {
    width: 200px;
    height: 50px;
    font-size: large;
    padding-left: 10px;
  }
  
  a {
    color: #00b7ff;
  }
  .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  @keyframes mainTitle {
    from {
      color: red;
    }
    to {
      color: white;
    }
    to {
      color: blue;
    }
  }
  @keyframes each {
    from {
      color: purple;
    }
    to {
      color: blue;
    }
    to {
      color: goldenrod;
    }
  }
  @keyframes subt {
    from {
      color: red;
    }
    to {
      color: yellow;
    }
    to {
      color: green;
    }
  }
  @keyframes bkgrdc {
    from {
      background-color: lightcyan;
    }
    to {
      background-color: darkslateblue;
    }
    to {
      background-color: white;
    }
  }
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    animation-name: bkgrdc;
    animation-duration: 25s;
  }
  h1 {
    color: crimson;
    text-align: center;
    animation-name: mainTitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .flex-container {
    display: flex;
  }
  .flex-child {
    flex: 1;
  }
  .flex-child:first-child {
    margin-right: 167px;
  }
  label:not(.check) {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  .container {
    text-align: center;
  }
  .button:hover,
  button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px dotted #ccc;
  }
   
  li:last-child {
    border: none;
  }
   
  li {
    text-decoration: none;
    color: blue;
    display: block;
    width: 100%;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
  .eachl {
    color: cornflowerblue;
    animation-name: each;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .subttt {
    color: aqua;
    animation-name: subt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .ssm {
    color: aqua;
    font-size: medium;
    animation-name: subt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }